
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../uploads/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo sea fijo al hacer scroll */
    min-height: 100vh; /*Asegura que el cuerpo ocupe toda la altura de la ventana*/
    margin: 0; /*Elimina el margen por defecto del cuerpo*/
}

form{
    display: flex; /*Utiliza Flexbox para centrar el formulario*/
    justify-content: center; /*Centra el formulario horizontalmente*/
    align-items: center; /*Centra el formulario verticalmente*/
    flex-direction: column;
    width: 25%;
    height: auto;
    background: rgba(76, 82, 134, 0.5);
    border-radius: 5px;
    margin-top: 0px;
    border: solid 3px rgba(136, 108, 184, 0.459);
}
form input{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.submit{
    background: rgba(136, 108, 184, 0.459);
    border-radius: 25px;
    color: white;
    font-size: 15px;
    margin: 10px;
    width: 70%;
    cursor: pointer;
    padding: 10px 20px;
    border: solid 3px rgba(136, 108, 184, 0.459);
}

.logo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%; 
    border: solid 3px rgba(136, 108, 184, 0.459);
}

.form-text{
    color: white;
    font-size: 20px;
    margin: 10px;
}   
.links-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.links-container a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}